/* Fonts */

.noto-sans-<uniquifier> {
	font-family: "Noto Sans", sans-serif, Arial;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

/* Base */

html {
	background-color: #181A1B;
	color: #fff;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-family: "Noto Sans";
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1 {
	font-size: 2rem;
	line-height: 4rem;
	font-weight: 300;
	margin: 0 1rem 1rem 1rem;
}

h1 strong {
	font-size: 4.7rem;
	font-weight: 800;
	position: relative;
	left: -0.2rem;
	display: block;
}

h2 {
	font-size: 1.2rem;
    font-weight: 800;
    margin: 1.5rem 0 1rem 0;
}

h3 {
	font-size: 1.4rem;
    line-height: 2rem;
	margin: 0.5rem 0 0.75rem 0;
    font-weight: 800;
}

p {
	font-size: 1.1rem;
	font-weight: 400;
    line-height: 1.8rem;
	margin: 0.5rem 0 1rem 0;
	color: #ddd;
}

a {
	color: #84a9ff;
    font-weight: 600;
}

.aboutme {
	display: flex;
	align-items: center;
}

.aboutme div {
	padding: 1rem 0;
}

.aboutme img {
	width: 15rem;
	margin: 1.5rem 1rem 1rem 1rem;
	border: solid 1px #333;
	border-radius: 100rem;
}

.aboutme p {
	margin: 1.5rem 1rem 1rem 1rem;
}

.aboutme a {
	display: inline-block;
	padding: 0.75rem 1.5rem;
	margin-top: 0.1rem;
	background-color: #4169e1;
	color: #fff;
	border-radius: 0.5rem;
	text-decoration: none;
}

.aboutme a:hover {
	background-color: #3357c2;
}

.aboutme a:active {
	background-color: #24429d;
}

.aboutme.footer div {
	padding: 0 0 3rem 0;
}

.aboutme.footer p {
	margin: 0.5rem 1rem 1.5rem 1rem;
}

.aboutme.footer h2 {
	font-size: 1.2rem;
	font-weight: 300;
	margin: 0 1rem 1rem 1rem;
}

.aboutme.footer h2 strong {
	font-size: 1.5rem;
	font-weight: 800;
	display: block;
}

.featured ul {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem 3rem;
	margin: 1.5rem 1rem 2rem 1rem;
}

.featured li {
	display: flex;
	flex-direction: column;
	width: 20%;
}

.featured img {
	margin: 0 1.5rem 0.75rem 0;
	width: 5rem;
	height: auto;
	opacity: 0.4;
}

.featured-color {
	background: #1a1f30;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-top: 2rem;
	margin-bottom: 2.5rem;
}

.featured h2 {
	margin-bottom: 0;
	font-weight: ;
}
.featured h2,
.featured>p {
	margin-left: 1rem;
	margin-right: 1rem;
}

.featured-color h3,
.work h3 {
	font-size: 1.8rem;
}

.work {
	padding-bottom: 1rem;
}

.work>ul>li {
	text-align: top;
}

.work>ul>li:nth-child(odd) {
	padding-top: 2.5rem;
}

.work>ul>li:nth-child(even) {
	background-color: #1a1f30;
	padding-top: 2.5rem;
	padding-bottom: 0.25rem;
}

.work>ul>li:first-child {
	padding-top: 0.25rem;
}

.map img {
	padding-top: 1rem;
	padding-bottom: 2rem;
	width: 100%;
}

.hidden {
	display: none;
}

/* Scroll container styles */

.scroll-container {
	display: flex;
	overflow-x: auto;
	/* scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch; */
	position: relative;
	margin: 2rem 0;
	scrollbar-width: none;
	-ms-overflow-style: none;
	margin-bottom: 3rem;
}

.scroll-list {
	list-style-type: none;
	margin: 0;
	display: flex;
	height: auto;
	gap: 2rem;
	padding: 0 1rem;
}

.scroll-item {
	flex: 0 0 auto;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	/* 	scroll-snap-align: center;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column; */
	align-items: normal;
	padding: 0;
	height: 38rem;
	width: auto;
	border: 1px solid #333;
	border-radius: 0.5rem;
	background-color: #1e1e1e !important;
	margin-bottom: 2.2rem;
}

.scroll-item p {
	font-size: 0.9rem;
	position: absolute;
	bottom: 0;
	margin-left: -3rem;
	margin-top: 0.2rem;
	margin-bottom: 0;
}

.scroll-item img, .scroll-item video {
	max-width: 100%;
	max-height: 100%;
	border-radius: 0.5rem;
}

section.aboutme, section.featured {
	padding-left: 2rem;
	padding-right: 2rem;
}

section.work h2, section.work h3, section.work p {
	padding-left: 3rem;
	padding-right: 3rem;
	width: 55%;
}

.scroll-list {
	padding-left: 3rem;
	padding-right: 3rem;
}




@media (max-width: 1220px) {
	.featured li {
		width: calc(50% - 3.2rem);
	}
}

@media (max-width: 1000px) {
	h1 {
		font-size: 1.7rem;
		line-height: 3.3rem;
	}
	h1 strong {
		font-size: 3.7rem;
	}
	.aboutme img {
		width: 13rem;
	}
}

@media (max-width: 820px) {

	section.work h2, section.work h3, section.work p {
		width: calc(90% - 1.5rem);
	}
	.map {
		overflow-x: hidden;
	}
	.map img {
		width: 200%;
		position: relative;
		left: -50%;
	}
}

@media (max-width: 640px) {
	section.aboutme, section.featured {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	section.work h2, section.work h3, section.work p {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.scroll-list {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	/* .scroll-list {
		padding-left: 1rem;
		padding-right: 1rem;
	} */
	.aboutme {
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-bottom: 0.5rem;
	}
	.aboutme div {
		padding-top: 0;
		padding-bottom: 0;
	}
	.featured ul {
		gap: 1rem 0;
	}
	.featured li {
		width: 100%;
		align-items: center;
	}
	.featured img {
		width: 4rem;
		height: 4rem;
	}
	.featured li {
		flex-direction: row;
	}
	.scroll-item p {
		margin-left: -2rem;
	}
}

