/* Fonts */

.noto-sans-display-<uniquifier> {
	font-family: "Noto Sans Display", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

/* Base */

html {
	background-color: #fafafa;
	color: #333;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-family: "Nunito Sans";
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1 {
	font-size: 2rem;
	line-height: 4rem;
	font-weight: 300;
	margin: 0 1rem;
}

h1 span {
	font-size: 5rem;
	font-weight: 800;
	position: relative;
	left: -0.2rem;
}

h2 {
	font-size: 2rem;
    font-weight: 300;
    margin: 1.5rem 0 1rem 0;
}

h3 {
	font-size: 1.4rem;
    line-height: 1.8rem;
	margin: 0.5rem 0;
    font-weight: 800;
}

p {
	font-size: 1.1rem;
	font-weight: 500;
    line-height: 1.6rem;
	margin: 0.5rem 0;
	color: #666;
}

a {
	color: #4169e1;
    font-weight: 600;
}

.header {
	display: flex;
	align-items: center;
}

.header.div {
	flex: 0 0 auto;
}

.header img {
	width: 15rem;
	margin: 1.5rem 1rem 1rem 1rem;
	border: solid 1px #ddd;
	border-radius: 100rem;
}

.header p {
	margin: 0 1rem 1.5rem 1rem;
}

.header a {
	display: inline-block;
	padding: 0.75rem 1.5rem;
	margin-top: 0.1rem;
	background-color: #4169e1;
	color: #fff;
	border-radius: 30rem;
	text-decoration: none;
}

.header a:hover {
	background-color: #3357c2;
}

.header a:active {
	background-color: #24429d;
}

.featured-color {
	background-color: #dbe2f8;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-top: 1.5rem;
	margin-bottom: 2rem;
}

.featured-color.dark-mode {
	background-color: #333;
}

.featured-color h2 {
	margin-left: 1rem;
	margin-right: 1rem;
}

.featured ul {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem 3rem;
	margin: 1.5rem 1rem 2rem 1rem;
}

.featured li {
	display: flex;
	flex-direction: column;
	width: 20%;
}

.featured img {
	margin: 0 1.5rem 0.5rem 0;
	width: 5rem;
	height: auto;
	opacity: 0.4;
}

.hidden {
	display: none;
}

/* Scroll container styles */

.scroll-container {
	display: flex;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	position: relative;
	margin: 1rem 0;
	scrollbar-width: none;
	-ms-overflow-style: none;
	margin-bottom: 2rem;
}

.scroll-list {
	list-style-type: none;
	margin: 0;
	display: flex;
	height: auto;
	gap: 1rem;
	padding: 0 1rem;
}

.scroll-item {
	flex: 0 0 auto;
	scroll-snap-align: center;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	padding: 0;
	width: calc(25% - 1.5rem);
	border: 1px solid #ddd;
	border-radius: 8px;
}

.scroll-container-big .scroll-item {
	width: calc(70% - 1.5rem);
}

.scroll-item img, .scroll-item video {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	border-radius: 8px;
	flex: 0 0 auto;
}

section.header, section.featured {
	padding-left: 1rem;
	padding-right: 1rem;
}

section.work h2, section.work h3, section.work p {
	padding-left: 2rem;
	padding-right: 2rem;
}

.scroll-list {
	padding-left: 2rem;
	padding-right: 2rem;
}

@media (max-width: 1280px) {
	.scroll-container-big .scroll-item {
		width: 90%;
	}
}

@media (max-width: 1220px) {
	.featured li {
		width: calc(50% - 3.2rem);
	}
	.scroll-item {
		width: calc(33.33% - 1.5rem);
	}
}

@media (max-width: 1000px) {
	h1 {
		font-size: 1.7rem;
		line-height: 3.3rem;
	}
	h1 span {
		font-size: 3.7rem;
	}
	.header img {
		width: 12rem;
	}
}

@media (max-width: 820px) {
	.scroll-item {
		width: calc(49% - 1.5rem);
	}
	.scroll-container-big .scroll-item {
		width: 90%;
	}
}

@media (max-width: 780px) {
	h1 {
		font-size: 1.3rem;
		line-height: 2.7rem;
	}
	h1 span {
		font-size: 3rem;
	}
	.header img {
		width: 9rem;
	}
}

@media (max-width: 640px) {
	h1 {
		font-size: 1.3rem;
		line-height: 2.5rem;
		margin-bottom: 0.4rem;
	}
	h1 span {
		font-size: 3rem;
	}
	.scroll-list {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.header {
		flex-direction: column;
		align-items: center;
		text-align: center;
		margin-bottom: 0.5rem;
	}
	.header img {
		width: 9rem;
		margin-bottom: 0.5rem;
	}
	.featured ul {
		gap: 1.5rem 0;
	}
	.featured li {
		width: 100%;
		align-items: center;
	}
	.featured img {
		width: 4rem;
		height: 4rem;
	}
	.featured li {
		flex-direction: row;
	}
}

@media (max-width: 440px) {
    .scroll-item {
		width: 90%;
	}
}

/* Dark mode + media query */

/* 
html.dark-mode {
	background-color: #121212;
	color: #e0e0e0;
}

p.dark-mode {
	color: #bbb;
}

a.dark-mode {
	color: #82aaff;
}

.header a.dark-mode {
	background-color: #82aaff;
	color: #121212;
}

.scroll-item.dark-mode {
	border: 1px solid #444;
}
 */

/* @media (prefers-color-scheme: dark) {
    html {
        background-color: #121212;
        color: #e0e0e0;
    }
    p {
        color: #bbb;
    }
    a {
        color: #82aaff;
    }
    .header a {
        background-color: #82aaff;
        color: #121212;
    }
    .featured-color {
        background-color: #333;
    }
    .scroll-item {
        border: 1px solid #444;
    }
	.featured img {
		filter: invert(1) brightness(2);
	}
} */
